@font-face {
	font-family: momafont;
	src: url(../fonts/moma-sans__regular.woff2);
	font-style: normal;
	font-weight: 400;
  }

  @font-face {
	font-family: momafont;
	src: url(../fonts/moma-sans__regular--italic.woff2);
	font-style: italic;
	font-weight: 400;
  }

  @font-face {
	font-family: momafont;
	src: url(../fonts/moma-sans__bold.woff2);
	font-style: normal;
	font-weight: 700;
  }

  @font-face {
	font-family: momafont;
	src: url(../fonts/moma-sans__bold--italic.woff2);
	font-style: italic;
	font-weight: 700;
  }

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  font-family: momafont, sans-serif; 
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:rgb(251, 251, 213);

	--color-a:var(#111);

/*
	--p-color:#fff;
	--p-background-color:dodgerblue;
	
	--button-color:#000;
	--button-background-color:gold;
	
	--accent-color:pink;
	--accent-background-color:crimson;
	*/

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


body{

	background-color:var(--color-background);

	@media (min-width: 22em;) {
		body {
			background-color: green;
		}
	}
}
	

	a{
	text-decoration: none;
	outline: none;	
	color: #111;
	}

	a:link{

	}
	a:visited {
	}
	
	a:focus {
	}
	
	a:hover {
	}
	
	a:active {
	}

/* header{
	background-color:var(--color-background); 
	
	padding:.5em;
	margin:.5em;
	top: 0;
	left: 0;
	right: 0;
} */


header section ul{
	display: flex;
	justify-content: center;
	align-items: baseline;
	
	min-width: 16em;
	gap: .5em;
	/* padding:.5em;
	margin:.5em; */

	list-style: none;
	text-decoration: none;
	font-weight: 700;
	font-size: 1em;
	
	background-color: white;
}


header section nav{
	display:flex;
	justify-content: center;
	align-content: space-between;
	
	background-color: white;

}

header section nav ul li{
	text-decoration: none;
	color: 

}

main > ul{
	list-style: none;
	text-decoration: none;
	background-color: rgb(248, 248, 216);
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: start;

}


main section ul{

	margin: 0;
	padding: 0;

	list-style: none;
	text-decoration: none;
	background-color: rgb(255, 247, 102);


	/* display: grid;
	grid-template-columns: repeat( auto-fit, minmax(min(22em, 100%), 1fr) );
	width:40;

	gap:2em; */
	
	/* padding:0 2em 2em; */
	/* display: flex;
	flex-wrap:wrap;
	flex-direction: column; */

}

main section ul li{

	display: grid;

}

main section ul li:nth-of-type(odd) {
	/* de oneven li's hebben twee kolommen */
	/* de 1e 60% breed, de 2e 40% breed */
	grid-template-columns:60% 40%;
	background-color:rgb(153 255 204);
}

main section ul li:nth-of-type(even) {
	/* de even li's hebben twee kolommen */
	/* de 1e 40% breed, de 2e 60% breed */
	grid-template-columns:40% 60%;
	background-color:rgb(255 153 153);
}

main section ul li img {
	/* de afbeelding xijn zo breed als de cel waar ze in zitten */
	width:100%;
	/* en zijn 20em hoog */
	height:20em;
	/* met object-fit:cover geef je aan dat de img de hele ruimte moet vullen */
	/* daarbij behouden de img's hun eigen verhouding */
  /* wat niet past wordt afgesneden	 */
	object-fit:cover;
}

main section ul li:nth-of-type(odd) img {
	/* de img's in de oneven li's	*/
  /* beginnen op de 2e kolom-lijn */
  /* en gaan vaan de 1e rij-lijn tot de 3e rij-lijn (nemen 2 rijen in beslag) */
	grid-column:2;
	grid-row-start:1;
	grid-row-end:3; 
	/* als de img's niet in de ruimte passen, omdat ze een andere verhouding hebben */
  /* dan kun je met object-position bepalen vanaf welk punt er delen worden afgesneden */
	object-position:right center;
}

main section ul li:nth-of-type(even) img {
	/* de img's in de even li's	*/
  /* beginnen op de 1e kolom-lijn */
  /* en gaan vaan de 1e rij-lijn tot de 3e rij-lijn (nemen 2 rijen in beslag) */
	grid-column:1;
	grid-row-start:1;
	grid-row-end:3;
	
	object-position:left center;
}


main section ul:nth-of-type(2) {

	margin: 0;
	padding: 0;

	list-style: none;
	text-decoration: none;
	background-color: rgb(252, 247, 247);

}

main section ul li:nth-of-type(1), :nth-of-type(2) {
	background-color: blueviolet;


}


/* main section ul figure{
	position: relative;

	width:60%;
	display:flex;
	flex-direction:column;
	justify-content:left;

	border:0;
	margin:0;
	padding:0;
} */

/* 
main section ul figure img{

	display: block;
	position: absolute;
	right:0;
	bottom:0;
	top:0;

	z-index: ;
	width:40%;
	height:100%;


} */

/* 	
	flex-wrap: wrap;
	justify-content: space-between; */
